// -----------------------------------------------------------------------------
// This file contains all @font-face declarations, if any.
// -----------------------------------------------------------------------------

// Fonts Sizes
$xx-large: 70px;
$x-large: 30px;
$large: 18px;
$medium: 16px;
$small: 12px;

$primary-font: $roboto;
$primary-font-light: $roboto-light;
$primary-font-regular: $roboto-regular;
$secondary-font: $playfair;
$secondary-font-bold: $playfair-bold;
$secondary-font-black: $playfair-black;
$secondary-font-italic: $playfair-italic;
