/**
 * Basic typography style for copy text
 */

 // Fonts Typography
 $roboto: 'Roboto', sans-serif;
 $roboto-light: 300;
 $roboto-regular: 400;
 
 $playfair: 'Playfair Display', serif;
 $playfair-bold: 400;
 $playfair-black: 900;
 $playfair-italic: italic;
 
 
 