//Color scheme

//First Color Scheme
$white: #FFF;
$platinum: #E8E8E8;
$gray: #BABABA;

//Second Color Scheme
$fuzzy-wuzzy: #e66554;
$ruddy-pink: #D76C69;
$spanish-pink: #ECBCBA;

//Third Color Scheme
$black-olive: #393E41;
$granite-gray: #5D6163;
$old-silver: #818486;

