// -----------------------------------------------------------------------------
// This file contains all styles related to the footer of the site/application.
// -----------------------------------------------------------------------------
#naomi {
    width: 150px;
    height: auto;
}
.footer {
    box-sizing: border-box;
}
.footer__buttons {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
.footer__logo {
    background-size: cover;
    background-position: center;
    box-sizing: border-box;
}
#footer__logo-moustache {
    width: 100px;
}